@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  direction: rtl;
  margin: 0;
  font-family: Vazirmatn, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .divider{
    @apply w-full border-b-[1px] border-gray-400 my-2
  }
  .errorMsg{
    @apply text-red-600 font-semibold text-sm flex items-center justify-start
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
